@import "tailwindcss";

@theme {
  /* --color-*: initial; */
  --color-purple-light: #473590;
  --color-purple-medium: #9A298C;
  --color-purple-dark: #1E348F;
  --color-gray-dark: rgba(51, 51, 51, 0.1);
  
  --font-*: initial;
  --font-aeonik: "Aeonik";
  --font-grotesk: "Grotesk";
}

@font-face {
  font-family: 'Aeonik';
  font-style: light;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Aeonik-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Aeonik';
  font-style: regular;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Aeonik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Aeonik';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Aeonik-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Grotesk;
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Grotesk;
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2");
}

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #333333;
  }
}

body {
  background: #ffffff;
  color: #333333;
  ---default-font-family: "Aeonik" 
}

.gradient-text {
  background: #9A298C;
  background: linear-gradient(to right, #9A298C 0%, #1E348F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
